@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap');
.newsletter-high{
    color:#b0ffd7;
    font-weight: bolder;
    font-family: 'Inconsolata', monospace;
}
.newsletter-pos{
    width: 100%;
    height: 350px;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #d9b1f0;
}
.newsletter{
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
    box-sizing: border-box;
    padding: 20px 8%;
    position: relative;
    z-index: 2;
}
.newsletter-pos img{
    height: 100%;
    width:65%;
    position: absolute;
    right: 0;
    z-index: 1;
}
.newsletter-content{
    height: 100%;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    gap: 15px;
}
.newsletter-title{
    display: flex;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
}
.newsletter-description{
    width: 100%;
    display: flex;
}
.newsletter-description p{
    width: fit-content;
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
    color: #1c1c1c;
    font-weight: bold;
    margin: 0;
}
.newsletter-form{
    flex: 0.5;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.newsletter-form form{
    flex: 0.6;
    width: 100%;
    height: 50px;
    display: flex;
    overflow: hidden;
}

.newsletter-form form input{
    display: flex;
    width: 75%;
    height: 100%;
    border-radius: 5px 0 0 5px;
    border: 1px 0px 1px 1px solid black;
    padding:20px;
    outline: none;
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
}
.newsletter-form form button{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: none;
    border: 1px 1px 1px 0 solid black;
    border-radius: 0 5px 5px 0;
    box-sizing: border-box;
    padding: 10px;
    background-color: #1c1c1c;
    color: white;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Inconsolata', monospace;
    outline: none;
    transition: background 400ms ;
}
.newsletter-form form button:hover{
    color: #19381b;
    font-weight: bold;
    background: #1bc229;
}
.newsletter-adv{
    display: flex;
    justify-content: flex-start;
    font-size: 17px;
    color: 
    #654666
    ;
    width: 60%;
    line-height: 1.55;
    font-family: 'Inconsolata', monospace;
}

@media only screen and (max-width: 600px){
    .newsletter-pos{
        height: 300px;
    }
    .newsletter-content{
        gap: 10px;
    }
    .newsletter-title{
        display: flex;
        font-size: 30px;
    }
    .newsletter-description p{
        font-size: 12px;
    }
    .newsletter-form form{
        width: 100%;
        flex: 1;
    }
    .newsletter-form form input{
        padding: 0;
        padding-left: 10px;
        height: 75%;
    }
    .newsletter-form form button{
        height: 75%;
    }
    .newsletter-adv{
        font-size: 8px;
    }
}